VITE_HUB_API_BASE_URL=https://whatsapp.prosperargroup.com.br/api/v1
VITE_HUB_API_TOKEN=wah_VcQTD2BdcnRZ26I2XinXuoD6LkQfP7K6
VITE_HUB_ACCOUNT_ID=43d1a49b-6789-4785-a11b-b6abc88b5a65
VITE_OFFICIAL_API_BASE_URL=/official-api
VITE_OFFICIAL_API_TOKEN=wam_6186fd8fb4bfb025ce48f8aa221fb3dd27c099fb64284b128cb56fc633a9e06e
VITE_OFFICIAL_ACCOUNT_ID=
VITE_ATTENDANT_NAME=
VITE_DEMO_MODE=false
